### Custom ###
contentful.config.secret.json
dist
.next
out
tsconfig.tsbuildinfo
.env.local

### Paw ###
*.paw

# Created by https://www.gitignore.io/api/linux,osx,visualstudiocode,sublimetext,intellij,node,bower

### Linux ###
*~

### OSX ###
*.DS_Store

### VisualStudioCode ###
.vscode/settings.json

### Node ###
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
coverage
.nyc_output
node_modules
.npm

### Bower ###
bower_components

.env

### Intellij ###
.idea/

### Install artifacts ###
